# Dependencies
node_modules
.pnp
.pnp.js

# Production builds
.next
out
dist
build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
coverage
*.lcov

# Misc
.DS_Store
*.log
*.pid
*.seed
*.pid.lock

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Testing
__tests__

# Public
public
storage
